<mat-card>
  <mat-card-content>
    <div class="header">
      <h2>Sign in</h2>
    </div>
    <form [formGroup]="loginForm" (ngSubmit)="login()">
      <div class="username-input">
        <mat-form-field class="full-width" appearance="outline">
          <mat-label>Username <span class="required"></span></mat-label>
          <input matInput placeholder="Username" formControlName="username" minlength="8" maxlength="16" required>
          <mat-error class="mat-error" 
          *ngIf="loginForm.get('username').hasError('required')">
            <span class="text-danger">Please enter a username</span>
          </mat-error>
        </mat-form-field>
      </div>
      <!-- <div class="content-style" >
        <a routerLink="/tbd" routerLinkActive="router-link-active" >Forgot Username?</a>
      </div> -->
      <div>
        <mat-form-field class="full-width" appearance="outline">
          <mat-label>Password <span class="required"></span></mat-label>
          <input matInput placeholder="Password" formControlName="password"[type]="hidePassword ? 'password' : 'text'" minlength="8" maxlength="32" required onpaste="return false">
          <mat-icon matSuffix (click)="hidePassword = !hidePassword">
            <img class="fa" [ngClass]="{'far fa-eye-slash' : hidePassword, 'far fa-eye' : !hidePassword}">
          </mat-icon>
          <mat-error class="mat-error" 
          *ngIf="loginForm.get('password').hasError('required')">
            <span class="text-danger">Please enter a password</span>
          </mat-error>
        </mat-form-field>
      </div>
      <!-- <div class="content-style">
        <a routerLink="/tbd" routerLinkActive="router-link-active" >Forgot Password?</a>
      </div> -->
      <div>
        <button mat-raised-button color="primary" [disabled]="!loginForm.valid">Login</button>
        <button mat-raised-button (click)="navigateToRegister()">Register</button>
      </div>
    </form>
  </mat-card-content>
</mat-card>
