.button-list {
  list-style-type: none; /* Remove default list styles */
  padding: 0; /* Remove default padding */
  display: flex; /* Use flexbox for layout */
  flex-wrap: wrap; /* Wrap items to next row if needed */
  gap: 10px; /* Adjust spacing between buttons */
}

.container {
  display: flex;
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  height: auto; /* Fixed height */
  
}

.div-header {
  font-size: x-large;
  font-weight: bold;
  font-style: oblique;
  flex: 1;
  align-content: center;
  padding: 5px;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(4, auto);
  gap: 10px; /* Adjust the gap as needed */
}

.tank-button {
  padding: 5px;
  width: 100px; /* Adjust the size as needed */
  height: 100px; /* Adjust the size as needed */
  border-radius: 50%; /* Makes the button circular */
}

.left-div, .right-div {
  flex: 1;
  /* height: 100%; */
  height: auto;
  padding: 10px;
}
.left-div {
  background-color: lightblue;
}
.right-div {
  background-color: lightgreen;
}

.tank-summary, .notes {
  flex: 1;
  /* height: 100%; */
  height: auto;
  padding: 10px;
}

.NgxEditor__Wrapper {
  max-height: 200px; /* Set your desired maximum height */
  overflow-y: auto; /* Make the editor scrollable */
  border: 1px solid #ccc; /* Optional: Add a border for better visibility */
  padding: 10px; /* Optional: Add padding for better readability */
}

.divider {
  width: 100%;
}

.notes {
  margin-top: 20px;
}

.header-row {
  text-align: center;
  font-weight: bold;
  font-size: x-large;
}

.mat-elevation-z8 {
  border-radius: 10px;
}

.rounded-table {
  border-radius: 10px 10px 0 0;
  overflow: hidden; /* Ensure the table corners are visible */
}

.rounded-paginator {
  border-radius: 0 0 10px 10px;
  overflow: hidden; /* Ensure the table corners are visible */
}

textarea {
  width: 100%;
  height: 200px;
}