.button-list {
  list-style-type: none; /* Remove default list styles */
  padding: 0; /* Remove default padding */
  display: flex; /* Use flexbox for layout */
  flex-wrap: wrap; /* Wrap items to next row if needed */
  gap: 10px; /* Adjust spacing between buttons */
}

.container {
  display: flex;
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  height: auto; /* Fixed height */
}

.left-div, .right-div {
  flex: 1;
  height: 100%;
}
.left-div {
  background-color: lightblue;
}
.right-div {
  background-color: lightgreen;
}

.divider {
  width: 100%;
}

.header-row {
  text-align: center;
  font-weight: bold;
}

.mat-elevation-z8 {
  border-radius: 10px;
}

.rounded-table {
  border-radius: 10px 10px 0 0;
  overflow: hidden; /* Ensure the table corners are visible */
}

.rounded-paginator {
  border-radius: 0 0 10px 10px;
  overflow: hidden; /* Ensure the table corners are visible */
}