<div class="container">
  <div class="left-div" id="leftDiv">
    <div class="div-header">All Tanks</div>
    <hr class="divider" aria-label="Divider">
    <div class="grid-container">
      <ng-container *ngFor="let tank of allFishTanks; let i = index">
        <button class="tank-button" *ngIf="tank.activeBatchId != null" mat-raised-button color="primary" (click)="selectBatch(tank)">
          Tank #: {{ tank.id }} <br> Batch ID: {{ tank.activeBatchId }}
        </button>
        <button class="tank-button" *ngIf="tank.activeBatchId == null" mat-raised-button mat-color="primary" disabled>
          Tank #: {{ tank.id }} <br> Batch ID: NA
        </button>
      </ng-container>
    </div>
  </div>
  <div class="right-div" id="rightDiv">
    <div *ngIf="!showBatchSummary">
      <div class="div-header">Farm Summary</div>
      <hr class="divider" aria-label="Divider">
      <!--Farm Summary Stuff-->
      <div>
        <p>Active Batches: {{ activeBatches.length }}</p>
      </div>
    </div>
    <div *ngIf="showBatchSummary">
      <div class="div-header">Tank Summary</div>
      <hr class="divider" aria-label="Divider">
      <h2>Tank #: {{ selectedBatch?.fishTankId }} - Batch ID: {{ selectedBatch?.id }}</h2>
      <div class="container">
        <!--Tank Summary Stuff-->
        <div class="tank-summary">
          
          <p>Batch Start Date: {{ selectedBatch?.startDate }}</p>
          <p>Fish Planted: {{ selectedBatch?.fishPlanted }}</p>
          <p>Total Fish Dead: {{ totalFishDeadForSelectedBatch }}</p>
        </div>
        <div class="notes">
          <h3>Quick Notes</h3>
          <!-- <textarea [(ngModel)]="notesForSelectedTank"></textarea> -->
          <div class="NgxEditor__Wrapper">
            <ngx-editor-menu [editor]="editor"> </ngx-editor-menu>
            <ngx-editor [editor]="editor" [(ngModel)]="notesForSelectedTank" [disabled]="false"></ngx-editor>
          </div>
          <button class="button" mat-raised-button color="primary" (click)="saveNotes(notesForSelectedTank)">Save Notes</button>
        </div>
      </div>
    </div>
  </div>
</div>

<hr class="divider" aria-label="Divider">
    <div class="mat-elevation-z8" [hidden]="!showBatchDetails">
    <table mat-table [dataSource]="dataSource" matSort class="rounded-table">
      <ng-container matColumnDef="title">
        <th class="header-row" mat-header-cell [attr.colspan]="displayedColumns.length" *matHeaderCellDef> 
          <div class="button-container">
            <span class="add-button">
              <button mat-raised-button color="primary" 
              (click)="addData()">Add Entry</button>
            </span>
            <span class="tank-number">
              Tank #{{ selectedBatch?.fishTankId }} 
            </span>
            <span class="remove-button">
              <button mat-raised-button color="warn" 
              (click)="removeData()" 
              [disabled]="!selection.hasValue()">Remove Entries</button>
            </span>
          </div>
        </th>
      </ng-container>
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Entry Id </th>
        <td mat-cell *matCellDef="let row"> {{row.id.measurementId}} </td>
      </ng-container>
      <ng-container matColumnDef="oxygen">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Oxygen </th>
        <td mat-cell *matCellDef="let row"> {{row.oxygen}} </td>
      </ng-container>
      <ng-container matColumnDef="temperature">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Temperature </th>
        <td mat-cell *matCellDef="let row"> {{row.temperature}} </td>
      </ng-container>
      <ng-container matColumnDef="ph">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> PH </th>
        <td mat-cell *matCellDef="let row"> {{row.ph}} </td>
      </ng-container>
      <ng-container matColumnDef="salinity">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Salinity </th>
        <td mat-cell *matCellDef="let row"> {{row.salinity}} </td>
      </ng-container>
      <ng-container matColumnDef="nitrate">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Nitrate </th>
        <td mat-cell *matCellDef="let row"> {{row.nitrate}} </td>
      </ng-container>
      <ng-container matColumnDef="nitrite">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Nitrite </th>
        <td mat-cell *matCellDef="let row"> {{row.nitrite}} </td>
      </ng-container>
      <ng-container matColumnDef="ammonia">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Ammonia </th>
        <td mat-cell *matCellDef="let row"> {{row.ammonia}} </td>
      </ng-container>
      <ng-container matColumnDef="turbine">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Turbine </th>
        <td mat-cell *matCellDef="let row"> {{row.turbine}} </td>
      </ng-container>
      <ng-container matColumnDef="alkalinity">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Alkalinity </th>
        <td mat-cell *matCellDef="let row"> {{row.alkalinity}} </td>
      </ng-container>
      <ng-container matColumnDef="deaths">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Fish Deaths </th>
        <td mat-cell *matCellDef="let row"> {{row.deaths}} </td>
      </ng-container>
      <ng-container matColumnDef="date">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Date - Time </th>
        <td mat-cell *matCellDef="let row"> {{row.date.substring(0, 10)}} - {{row.date.substring(11, 19)}} </td>
      </ng-container>

      <!-- Checkbox Column -->
      <ng-container matColumnDef="select">
        <th mat-header-cell *matHeaderCellDef style="text-align: center;"> Select </th>
        <td mat-cell *matCellDef="let row" style="text-align: center;">
          <mat-checkbox (click)="$event.stopPropagation()"
                        (change)="$event ? selection.toggle(row) : null"
                        [checked]="selection.isSelected(row)"
                        [aria-label]="checkboxLabel(row)">
          </mat-checkbox>
        </td>
      </ng-container>

      <!-- Data -->
      <tr mat-header-row *matHeaderRowDef="['title']"></tr>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
    <mat-paginator class="rounded-paginator" [pageSizeOptions]="[5, 10, 25, 100]" [showFirstLastButtons]="true"></mat-paginator>
  </div>