<div class="horizontal-bar">
  <button mat-raised-button color="primary" (click)="openSummaryComponent()">Summary</button>
  <button mat-raised-button color="primary" (click)="openManageBatchesComponent()">Manage Batches</button>
  <button mat-raised-button color="primary" (click)="createTestData()">Create Test Data</button>
  <button mat-raised-button color="primary" (click)="openUploadComponent()">Upload Document</button>
  <button mat-raised-button color="primary" (click)="openSettingsComponent()">Settings</button>
  <button mat-raised-button color="primary" (click)="logout()">Logout</button>
</div>

<!-- Placeholder for main content of the home component -->

<div>
  <router-outlet></router-outlet>
</div>