<mat-card>
    <mat-card-content>
      <div class="header">
        <h2>Register</h2>
      </div>
      <form [formGroup]="registerForm" (ngSubmit)="register()">
        <div>
          <mat-form-field class="full-width" appearance="outline">
            <mat-label>First Name <span class="required"></span></mat-label>
            <input matInput placeholder="First Name" formControlName="firstName" minlength="1" maxlength="32" required>
            <mat-error class="mat-error" 
            *ngIf="registerForm.get('firstName')?.errors?.['required']">
              <span class="text-danger">Please enter a first name</span>
            </mat-error>
          </mat-form-field>
        </div>
        <div>
            <mat-form-field class="full-width" appearance="outline">
              <mat-label>Last Name <span class="required"></span></mat-label>
              <input matInput placeholder="Last Name" formControlName="lastName" minlength="1" maxlength="32" required>
              <mat-error class="mat-error" 
              *ngIf="registerForm.get('lastName')?.errors?.['required']">
                <span class="text-danger">Please enter a last name</span>
              </mat-error>
            </mat-form-field>
          </div>
          <div>
            <mat-form-field class="full-width" appearance="outline">
              <mat-label>Email <span class="required"></span></mat-label>
              <input matInput placeholder="Email" formControlName="email" email required>
              <mat-error class="mat-error" 
              *ngIf="registerForm.get('email')?.errors?.['required']">
                <span class="text-danger">Please enter an email</span>
              </mat-error>
              <mat-error class="mat-error" 
              *ngIf="registerForm.get('email')?.errors?.['email']">
                <span class="text-danger">Invalid email</span>
              </mat-error>
            </mat-form-field>
          </div>
          <div>
            <mat-form-field class="full-width" appearance="outline">
              <mat-label>Username <span class="required"></span></mat-label>
              <input matInput placeholder="Username" formControlName="username" minlength="1" maxlength="32" required>
              <mat-error class="mat-error" 
              *ngIf="registerForm.get('username')?.errors?.['required']">
                <span class="text-danger">Please enter a username</span>
              </mat-error>
              <mat-error class="mat-error" 
              *ngIf="registerForm.get('username')?.errors?.['minlength']">
                <span class="text-danger">Username must be at least 8 characters long</span>
              </mat-error>
              <mat-error class="mat-error" 
              *ngIf="registerForm.get('username')?.errors?.['minlength']">
                <span class="text-danger">Username must be alphanumeric</span>
              </mat-error>
            </mat-form-field>
          </div>
        <div>
          <mat-form-field class="full-width" appearance="outline">
            <mat-label>Password <span class="required"></span></mat-label>
            <input matInput placeholder="Password" formControlName="password" [type]="hidePassword ? 'password' : 'text'" minlength="8" maxlength="32" autocomplete="off" required onpaste="return false">
            <mat-icon matSuffix (click)="hidePassword = !hidePassword" onkeydown="hidePassword = !hidePassword">
                <img class="fa" [ngClass]="{'far fa-eye-slash' : hidePassword, 'far fa-eye' : !hidePassword}" alt="">
            </mat-icon>
            <mat-error class="mat-error" 
            *ngIf="registerForm.get('password')?.errors?.['required']">
              <span class="text-danger">Please enter a password</span>
            </mat-error>
            <mat-error class="mat-error" 
            *ngIf="registerForm.get('password')?.errors?.['minlength']">ooo
              <span class="text-danger">Password must be at least 8 characters long</span>
            </mat-error>
            <mat-error class="mat-error" 
            *ngIf="registerForm.get('password')?.errors?.['minlength']">
              <span class="text-danger">Password must include alphanumeric values and a special character</span>
            </mat-error>
          </mat-form-field>
        </div>
        <div>
            <mat-form-field class="full-width" appearance="outline">
              <mat-label>Confirm Password <span class="required"></span></mat-label>
              <input matInput placeholder="Confirm Password" formControlName="confirmPassword" [type]="hideConfirmPassword ? 'password' : 'text'" minlength="8" maxlength="32" (keypress)="isValid($event)" required onpaste="return false">
              <mat-icon matSuffix (click)="hideConfirmPassword = !hideConfirmPassword" onkeydown="hidePassword = !hidePassword">
                <img class="fa" [ngClass]="{'far fa-eye-slash' : hideConfirmPassword, 'far fa-eye' : !hideConfirmPassword}" alt="">
            </mat-icon>
              <mat-error class="mat-error" 
              *ngIf="registerForm.get('confirmPassword')?.errors?.['required']">
                <span class="text-danger">Please confirm your password</span>
              </mat-error>
              <mat-error class="mat-error" 
              *ngIf="registerForm?.errors?.['mismatch'] && registerForm?.touched">
                <span class="text-danger">Passwords do not match</span>
              </mat-error>
            </mat-form-field>
          </div>
        <div>
          <button mat-raised-button color="primary" [disabled]="!registerForm.valid">Register</button>
          <button mat-raised-button (click)="login()">Login</button>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
  